

$colors: (
    main: #022a36,
    mainSecondary:  #075d77,
    auth0: #033646,
    accent: #207c98,
    primary: rgb(66, 66, 66),
    inputText: rgb(255, 0, 157),
    headerText: rgb(172, 172, 172),
    lightGray: rgb(196, 196, 196),
    black: black,
);


@mixin button {
    height: 32px;
    background: map-get($colors, main);
    color: map-get($colors, inputText);
    border: none;
}

@mixin inputBox {
    height: 30px;
    color: map-get($colors, inputText);
    background: map-get($colors, primary);
    border: none;
}

@mixin card {
    width: 400px;
    height: 100px;
    background: rgb(43, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: wheat;
}

@mixin flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}