@import '../../sass/main.scss';

.pic {
    @include card;
    height: 380px
}

.info {
    @include card;
    height: 200px
}

input {
    @include checkbox;
}

.logout {
        @include shadow;
        border-radius: 5px;
        background: map-get($colors, lightGray );
        height: 50px;
        width: 152px;
        align-self: center;
        font-size: 28px;
        font-weight: 300;
        margin: 10px;
}
.logout:hover {
    background: map-get($colors, evenLighterGray );
}

