@import '../../sass/main.scss';

.page {
    @include background;
    form {
        @include card;
        height: 200px;
        min-height: 200px;
        @include flex;
        align-items: flex-start;
        label {
            @include flex;
            input {
                height: 20px;
                padding-bottom: 4px;
            }
        }
        label:hover {
            background: map-get($colors, lightGray );
            @include shadow;
        }
    }
}
.button {
    @include shadow;
    border-radius: 5px;
    background: map-get($colors, lightGray );
    min-height: 50px;
    height: 50px;
    width: 110px;
    align-self: center;
}
.button:hover {
    background: map-get($colors, evenLighterGray );
}

.app {
    background: map-get($colors, primary);
    margin: 20px 20px 10px;
    padding: 20px 0px;
    border-radius: 8px;
    @include shadow;
    width: 80%;
    max-height: 460px;
    min-width: 380px;
    max-width: 800px;
}

.disabled {
    font-size: 12px;
    color: rgb(99, 13, 13);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
}